{% extends 'base.html.twig' %}
{% set title = "Suppression de pneumatiques : " ~ pneumatique.Title %}


{# Page titre #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page content #}
{% block body %}
    <div class="container">

    {# header / Titre de la page #}
        <header class="page-header">
            <h1 class="page-title">{{ title }}</h1>
        </header>
    </div>

        {# Barre d'actions ( entretien) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('pneumatiques:show', {id: pneumatique.id}) }}" class="btn btn-primary btn-sm">Annuler </a>
        <a href="{{ path('entretien:index') }}" class="btn btn-primary btn-sm">
        Retour à la liste des pneumatiques</a>
</div>

<p>Vous êtes sur le point de Supprimer le pneumatique {{ pneumatique.title }}, voulez-vous continuer ?</p>

{# Formulaire de suppression des pneumatiques#}
<form method="post" action="{{ path('pneumatiques:delete', {id: pneumatique.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir continuer la suppression?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pneumatique.id) }}">

    {# Bouton d'annulation #}
    <a href="{{ path('entretien:show', {id: entretien.id}) }}" class="btn btn-secondary btn-sm">Non</a>
    
    {# Confirmation #}
    <button class="btn btn-danger btn-sm">Suppression</button>
</form>

</div>
{% endblock %}
