{% extends 'base.html.twig' %}

{% set title = "Tous nos pneumatiques : " %}

{# Page titre #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{# Page content #}
{% block body %}
    <div class="container mt-5 mb-5 pt-3 pb-3 bg-white" style="border:5px solid black; border-radius:10px; box-shadow:2px 2px 5px black;">

    {# header / Titre de la page #}
        <header class="page-header">
            <h1 class="page-title">{{ title }}</h1>
        </header>
    

        {# Barre d'actions (ajouter de nouveaux pneumatiques) #}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="page-toolbar text-right mt-3 mb-3">
                <a href="{{ path('pneumatiques:new') }}" class="btn btn-primary btn-sm">
                <i class="ri-add-circle-line"></i> Ajouter de nouveaux pneumatiques. </a>
                <a href="{{ path('pneumatiques:update', {id: pneumatique.id})}}" class="btn btn-warning btn-sm">
                Modifier</a>
                <a href="{{ path('pneumatiques:delete', {id: pneumatique.id})}}" class="btn btn-danger btn-sm">Supprimer</a>
            </div>
        {% endif %}
        

{# Infos sur les pneumatiques #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pneumatique.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ pneumatique.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pneumatique.description }}</td>
            </tr>
            <tr>
            <th>Prix</th>
            <td>{{ pneumatique.price }} €</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pneumatiques:index') }}">Retour à la liste principale</a>

</div>
    
{% endblock %}
