{% extends 'base.html.twig' %}

{% set title = "Modification de nos pneumatiques : " ~ pneumatique.Title %}


{# Page titre #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}



{# Page content #}
{% block body %}
    <div class="container">

    {# header / Titre de la page #}
        <header class="page-header">
            <h1 class="page-title">{{ title }}</h1>
        </header>
    </div>

    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('pneumatiques:read', {id: pneumatique.id}) }}" class="btn btn-secondary btn-sm">Annuler</a>
        <a href="{{ path('pneumatiques:index') }}" class="btn btn-secondary btn-sm">Retour à la liste des entretiens</a>
    </div>

    
    {# Formulaire de creation du produit #}
    {% include "pneumatiques/_form.html.twig" with {form: form, btn_label:"Modifier"} only %}


</div>
{% endblock %}