{% extends 'base.html.twig' %}
{% set title = "Suppression de la prestation : " ~ entretien.Title %}


{# Page titre #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page content #}
{% block body %}
    <div class="container mt-5 mb-5 pt-3 pb-3 bg-white" style="border:5px solid black; border-radius:10px; box-shadow:2px 2px 5px black;">

    {# header / Titre de la page #}
        <header class="page-header">
            <h1 class="page-title">{{ title }}</h1>
        </header>
    

        {# Barre d'actions ( entretien) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('entretien:show', {id: entretien.id}) }}" class="btn btn-primary btn-sm">Annuler </a>
        <a href="{{ path('entretien:index') }}" class="btn btn-primary btn-sm">
        Retour à la liste des prestations</a>
    </div>



<p>Vous êtes sur le point de Supprimer la prestation {{ entretien.title }}, voulez-vous continuer ?</p>

{# Formulaire de confirmation de suppression du produit #}
<form method="POST" action="{{ path('entretien:delete', {id: entretien.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir continuer la suppression?');">

    <input type="hidden" name="_method" value="DELETE">

    {# Bouton d'annulation #}
    <a href="{{ path('entretien:show', {id: entretien.id}) }}" class="btn btn-secondary btn-sm">Non</a>

    {# Bouton de confirmation #}
    <button type="submit" class="btn btn-danger btn-sm">Suppression</button>
</form>

</div>
{% endblock %}
