{% extends 'base.html.twig' %}

{% set title = "Toutes nos prestations" %}


{# Page titre #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page content #}
{% block body %}
    <div class="container mt-5 mb-5 pt-3 pb-3 bg-white" style="border:5px solid black; border-radius:10px; box-shadow:2px 2px 5px black;">

    {# header / Titre de la page #}
        <header class="page-header">
            <h1 class="page-title">{{ title }}</h1>
        </header>
    

    {# Barre d'actions (ajouter un nouvelle entretien) #}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="page-toolbar text-right mt-3 mb-3">
            <a href="{{ path('entretien:new') }}" class="btn btn-primary btn-sm">
            <i class="ri-add-circle-line"></i> Ajouter une prestation </a>
        </div>
    {% endif %}
    


{# Tableau de la liste des entretiens #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>

        {# Corps du Tableau HTML #}
        <tbody>
        {# Boucle sur la liste des entretiens #}
        {% for entretien in entretiens %}
            <tr>
                <td>{{ entretien.id }}</td>
                <td>{{ entretien.Title }}</td>
                <td>{{ entretien.description }}</td>
                <td>{{ entretien.price}} €</td>
                <td>

                {# Liens #}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('entretien:update', {id: entretien.id}) }}"> Modifier</a>
                {% endif %}
                    
                    <a href="{{ path('entretien:show', {id: entretien.id}) }}">Voir </a>                    
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>

    </div>  
{% endblock %}
