{% extends 'base.html.twig' %}

{% set title = "Prestation : " ~ entretien.Title %}


{# Page titre #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page content #}
{% block body %}
    <div class="container mt-5 mb-5 pt-3 pb-3 bg-white" style="border:5px solid black; border-radius:10px; box-shadow:2px 2px 5px black;">

    {# header / Titre de la page #}
        <header class="page-header">
            <h1 class="page-title">{{ title }}</h1>
        </header>
    

        {# Barre d'actions (ajouter un nouvelle entretien) #}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="page-toolbar text-right mt-3 mb-3">
                <a href="{{ path('entretien:new') }}" class="btn btn-primary btn-sm">
                <i class="ri-add-circle-line"></i> Ajouter une nouvelle prestation </a>
                <a href="{{ path('entretien:update', {id: entretien.id})}}" class="btn btn-warning btn-sm">
                Modifier la fiche</a>
                <a href="{{ path('entretien:delete', {id: entretien.id})}}" class="btn btn-danger btn-sm">Supprimer</a>
            </div>
        {% endif %}
    

{# Infos sur l'entretien #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entretien.id }}</td>
            </tr>
            <tr>
                <th>Titre de la prestation</th>
                <td>{{ entretien.Title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entretien.Description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ entretien.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entretien:index') }}">Retour à la liste principal</a>

</div>    
{% endblock %}
