<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MLV Auto{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# Message Flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('rdv_new') }}">Prendre un RDV<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('services' )}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services - Faire un devis</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('pneumatiques:index') }}">Pneumatiques</a>
                    <a class="dropdown-item" href="{{ path('entretien:index') }}">Entretien de votre véhicule</a>
                    <a class="dropdown-item" href="{{ path('devi_new')}}">Faites un devis</a>
                </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Boutique
                    </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Pneus Neufs</a>
                    <a class="dropdown-item" href="#">Pneus occasions</a>
                    </div>

            
                </li>
                <!--module de connexion -->

                {# L'utilisateur est anonyme #}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile') }}">Mon profile</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    
                    {# Calendrier #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar') }}">Calendrier</a>
                    </li>

                    {# Liste des RDV #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('rdv_index') }}">Liste des RDV</a>
                    </li>

                    {# Ajout pneu #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('pneumatiques:new') }}"><i class="ri-add-circle-line"></i> Pneus</a>
                    </li>

                    {# Ajout presta #}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('entretien:new') }}"><i class="ri-add-circle-line"></i> Prestation</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                

                {% else %}

                {# L'utilisateur est identifié #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="{{ path('app_login') }}">Connexion</a>
                </li>

                {% endif %}
                <!--Fin de module de connexion-->
                
            </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
                </form>
            </div>
        </nav>

        
            {% block body %}{% endblock %}
        

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #adb5bd
;">
    <div class="container">

<!-- Grid row-->
    <div class="row py-4 d-flex align-items-center">

<!-- Grid column -->
    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0">Lorem ipsum dolor sit amet.</h6>
        </div>
    <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

        <!-- Facebook -->
        <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
        </a>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->

    </div>
</div>

<!-- Footer Links -->
<div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

    <!-- Grid column -->
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Votre garage</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Vener nous renctontrez</p>
        <p>Nos horaires</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Plan du site</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <a href="#!">Administration</a>
        </p>
        <p>
        <a href="#!">Recrutement</a>
        </p>
        <p>
        <a href="#!">F.A.Q.</a>
        </p>
        <p>
        <a href="#!">Blog</a>
        </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liens usuels</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <a href="#!">Votre Compte</a>
        </p>
        <p>
        <a href="#!">Nos partenaires</a>
        </p>
        <p>
        <a href="#!">Frais de livraison</a>
        </p>
        <p>
        <a href="#!">SAV</a>
        </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Nous joindre</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <i class="fas fa-home mr-3"></i> Adresse</p>
        <p>
        <i class="fas fa-envelope mr-3"></i> Email</p>
        <p>
        <i class="fas fa-phone mr-3"></i> telephone fixe</p>
        <p>
        <i class="fas fa-print mr-3"></i> telephone portable</p>

    </div>
    <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Mentions Légales</a>
    <a href="#">Protection de la vie Privée</a>
    <a href="#">Cookies</a>
    <a href="#">Site Réalisé par : </a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->



<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
    </body>
</html>
